@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
span{
    color: forestgreen ;
}
h1{
    color: mediumvioletred;
    font-size: 29px;
    margin-left: 30%;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(https://images.wallpapersden.com/image/download/artistic-landscape-8k-2021-art_bG1qa26UmZqaraWkpJRobWllrWdma2U.jpg);
    background-size: cover;
}
